<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <meta description="{{ site.tagline }}">
  <link rel="stylesheet" href="/stylesheets/app.css">  
  <link rel="alternate" type="application/atom+xml" title="Frontrend" href="/feed.xml">
</head>
<body>
  <div class="c"><a href="/events/05/">{{ content }}</a></div>

  <!-- End Footer -->
  {% include snippets/sns.html %}
  {% include snippets/ga.html %}
</body>
</html>