<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.sitename }}</title>
  <meta description="{{ site.tagline }}">
	<link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="alternate" type="application/atom+xml" title="Frontrend" href="/feed.xml">
</head>
<body>
  <div class="row">
    <div class="twelve columns"> 
      <h1>Frontrend <small>powered by CyberAgent, Inc.</small></h1>
      <hr>
    </div>
  </div>
 

  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="nine columns" role="content">
 
      <article>
 
        <h3><a href="#">Yeah!</a></h3>
        <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>
 
 
        {{ content }}
 
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
 
      </article>
 
      <hr>
 
      <article>
 
        <h3><a href="#">Blog Post Title</a></h3>
        <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>
 
        <div class="row">
          <div class="six columns">
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
            <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
          </div>
          <div class="six columns">
            <img src="http://placehold.it/400x240&text=[img]">
          </div>
        </div>
 
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
 
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
 
      </article>
 
    </div>
 
    <!-- End Main Content -->
 
    <!-- Sidebar -->
 
    <aside class="three columns">
 
      <h5>Categories</h5>
      <ul class="side-nav">
        <li><a href="/vol-04">Vol.04</a></li>
        <li><a href="/vol-03">Vol.03</a></li>
        <li><a href="/vol-02">Vol.02</a></li>
        <li><a href="/vol-01">Vol.01</a></li>
      </ul>
 
      <div class="panel">
        <h5>Ad</h5>
        <p>Ameba コミュニティ&amp;ゲーム SNS</p>
        <a href="http://www.cyberagent.co.jp/release/index2.html">Read More &rarr;</a>
      </div>
 
    </aside>
 
    <!-- End Sidebar -->

 
  <!-- End Main Content and Sidebar -->
 
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="twelve columns">
      <hr>
      <p>&copy; 2013 Frontrend powered by CyberAgent, Inc.</p>
    </div>
  </footer>
 </div>

  <!-- End Footer -->
  {% include snippets/sns.html %}
  {% include snippets/ga.html %}
</body>
</html>