<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
  <meta description="{{ page.description }}">
	<link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="alternate" type="application/atom+xml" title="Frontrend" href="/feed.xml">
</head>
<body>

  <div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><a href="/events/06/" class="button">Event</a></li>
       <li><a href="//feedpress.me/frontrend" class="button">RSS</a></li>
      </ul>
    </div>
      <h1 style="margin-bottom:-15px"><a href="/">Frontrend</a>/<a href="{{ page.uri }}">{{ page.vol }}</a></h1>
      <h5 class="subheader">Tokyo, {{ page.day }}</h5>
      <div class="showcase">
          <h4>{{ page.tagline }}</h4>
          <img src="{{ page.title-headr }}" alt="">
      </div>
      <hr>
  </div>
  </div>

  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">

      {% include snippets/sns.html %}

      <article class="event">

        {{ content }}

        {% if page.end == true %}
        <div class="alert-box alert c" style="margin:50px 0;padding: 20px;">このイベントは終了しました。</div>
        {% else %}
        <p class="panel c" style="margin:50px 0;">
          <a href="{{ page.atnd }}" class="button large radius">参加登録サイトへ</a></p>
        {% endif %}

      </article>
    </div><!-- End Main Content -->
 
    <!-- Sidebar -->
    {% include snippets/sidebar.html %}

  <!-- Footer -->
  {% include snippets/footer.html %}

 </div>

  <!-- End Footer -->
  {% include snippets/scripts.html %}
</body>
</html>