<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns" itemprop="author" itemscope itemtype="http://schema.org/Organization">
        <p>&copy; 2013 Frontrend powered by <a href="http://www.cyberagent.co.jp/" itemprop="url"><span itemprop="name">CyberAgent, Inc.</span></a></p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right sns">
          <li><a href="https://twitter.com/frontrend_ca"><img src="/images/ico_twitter.png" width="16" height="16" alt=""> Twitter</a></li>
          <li><a href="https://www.facebook.com/frontrend.ca"><img src="/images/ico_facebook.png" width="16" height="16" alt=""> Facebook</a></li>
          <li><a href="https://vimeo.com/frontrend"><img src="/images/ico_vimeo.png" width="16" height="16" alt=""> Vimeo</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>