<div id="fb-root"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>
(function(d, s) {
  var js,
      fjs = d.getElementsByTagName(s)[0],
      load = function(url, id) {
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.src = url; js.id = id;
        fjs.parentNode.insertBefore(js, fjs);
      };
  load('//connect.facebook.net/en_GB/all.js#xfbml=1&appId=413533248681747', 'fbjssdk');
  load('//platform.twitter.com/widgets.js', 'tweetjs');
  load('//apis.google.com/js/plusone.js', 'plusone');
}(document, 'script'));
</script>
<script id="js-gaq">
  var _gaq=[['_setAccount','UA-38010723-1'],['_trackPageview']];
  (function(d){var g=d.createElement('script'),s=d.getElementById('js-gaq');g.async=1;
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document));
</script>