<div id="fb-root"></div><!-- fb needs this -->
<script>
(function(d, s) {
  var js,
    　fjs = d.getElementsByTagName(s)[0],
    　load = function(url, id) {
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.src = url; js.id = id;
            fjs.parentNode.insertBefore(js, fjs);
          };
  load('//connect.facebook.net/en_GB/all.js#xfbml=1&appId=413533248681747', 'fbjssdk');
  load('//platform.twitter.com/widgets.js', 'tweetjs');
  load('//apis.google.com/js/plusone.js', 'plusone');
}(document, 'script'));
</script>